@font-face {
   font-family: 'Heebo';
   src: url('./fonts/Heebo-Light.woff2') format('woff2');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Heebo';
   src: url('./fonts/Heebo-Bold.woff2') format('woff2');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}


html {
   scroll-behavior: smooth;
}


:root {
   --color-first: #5eeee7;
   --color-first-darker: #048680;
   --color-dark: #000000;
   --color-light: #FFFFFF;
   --color-dark-alternate: #131619;
   --color-dark-gray: #404040;
   --color-light-gray: #C4C4C4;

   --border-radius: 25px;
   --border: 1px solid #FFFFFF;

   --font-family-base: 'Heebo', sans-serif; 
   --font-family-accent: 'Yantramanav', sans-serif; 
   --font-family-logo: 'Algerian', sans-serif;

   --input-height: 50px;

   --container-width: 1200px;
   --container-padding-x: 30px;

   --transition-duration: 0.2s;

   --header-height: 85px;

   --color-second: #5dcaeb;
  --color-third: #58a4eb;
 --color-second-darker: #076785;
  --color-third-darker: #083c6d;
  --color-first-opacity: #5dcaeb3a;
  --color-second-opacity: #5eeee731;
  --color-third-opacity: #58a4eb2d;
  --gradient-first: linear-gradient(to top left, #048680, #5eeee7);
  --gradient-second: linear-gradient(to top left, #03534f, #5eeee7);
}

* {
   max-width: 100%;
}

body {
   font-family: 'Poppins', sans-serif;
   font-weight: 300;
   font-size: 16px;
   line-height: 1.4;
   color: var(--color-light);
   background: linear-gradient(to right, #FEC38E, #9A2F00);
}

a,
button,
input,
textarea,
svg * {
   transition-duration: var(--transition-duration);
}

a {
   color: var(--color-light);
   text-decoration: none;
}

a:hover {
   color: var(--color-light-gray);
}

.visually-hidden {
   position: absolute !important;
   width: 1px !important;
   height: 1px !important;
   margin: -1px !important;
   border: 0 !important;
   padding: 0 !important;
   white-space: nowrap !important;
   clip-path: inset(100%) !important;
   clip: rect(0 0 0 0) !important;
   overflow: hidden !important;
 }

 h1, h2, h3, h4, h5, h6 {
   font-weight: 700;
   text-transform: uppercase;
}

ul {
   margin-bottom: 0;
}

.container {
   max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
   margin-inline: auto;
   padding-inline: var(--container-padding-x);
}

.button {
   display: inline-flex;
   align-items: center;
   height: 38px;
   padding: 20px;
   font-size: clamp(10px, 1vw, 15px);
   font-weight: 500;
   line-height: 2;
   letter-spacing: 1.1px;
   font-size: 1.3rem;
   font-family: inherit;
   white-space: nowrap;
   background-color: var(--color-first);
   border: none;
   border-radius: var(--border-radius);
}

button:hover {
   background-color: var(--color-first-darker);
   color: #333;
}

.button.transparent {
   position: relative;
   height: var(--input-height);
   padding-left: 25px;
   padding-right: 70px;
   background-color: transparent;
   border: var(--border);
}

.button.transparent::after{
   content: "\2193";
   position: absolute;
   right: 0;
   height: 100%;
   aspect-ratio: 1;
   text-align: center;
   border: var(--border);
   border-radius: 50%;
   
}

.button.transparent:hover {
   color: var(--color-dark);
   background-color: var(--color-light-gray);
}



.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: 20px;
   min-height: var(--header-height);
   padding-inline: 32px;
   background-color: rgba(0, 0, 0, 0.5);
   transition: transform 1s, opacity 1s; 
}

.header-menu-list {
   display: flex;
   flex-wrap: wrap;
   column-gap: clamp(20px, 2.6vw, 50px);
   font-size: clamp(10px, 1.1vw, 35px);
}

.header-menu-link {
   display: inline-flex;
   align-items: center;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: 1.2px;
   gap: 7px;
   height: var(--header-height)
   
}

.header-menu-link.is-current::after {
   content: "";
   width: 7px;
   aspect-ratio: 1;
   background-color: currentColor;
   border-radius: 50%;
}

.header-actions {
   display: flex;
   column-gap: 30px;
}

.first-screen {
   position: relative;
   max-width: 100%;
   height: calc(100vh - var(--header-height));
   
}

.first-screen-info {
   position: absolute;
   height: auto;
   top: 30%;
   left: 10%;
}

.first-screen-title {
   font-size: 2vw;
   margin-bottom: 40px;
}

.first-screen-beer-image {
   position: absolute;
   max-width: 600px;
   width: 40vw;
   height: auto;
   bottom: 0;
   right: 0;
}



.main-description {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 40px;
   margin-bottom: 100px;
   font-size: 1.7vw;
   line-height: 1.2;
   max-width: 80%;
   margin-inline: auto;
}

.brewing-beer-image {
   width: 100%;
   max-width: 40vw;
   height: auto;
   margin-block: -50px;
   
}

.main-description-carousel {
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(to left, #FEC38E, #9A2F00);
   padding-left: 50px;
   padding-top: 50px;
   gap: 130px;
   transition: transform 1s, opacity 1s;
}

.main-description-carousel h2 {
   font-size: 1.5vw;
}

.main-description-carousel h3 {
   font-size: 1.3vw;
}

.subtitle {
   max-width: 42vw;
   font-size: 1.5vw;
}

.subtitle a {
   color: var(--color-first);
}

.section--hidden {
   opacity: 0;
   transform: translateY(6rem);
}

.highlight-section {
   position: relative;
   z-index: 0;
   display: inline-block; /* Растягиваем фон по тексту */
   padding: 2px 2px;
 }
 
 .highlight-section::after {
   display: block;
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: -1;
   opacity: 0.8;
   transform: scale(1.07, 1.05) skewX(-15deg);
   background-image: linear-gradient(to top left, #048680, #5eeee7);
 }

 .grid-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
   max-width: 70%;
   margin: 50px auto 50px auto;   
   
}

.grid-item a {
   display: block;
   text-decoration: none;
   color: black;
   overflow: hidden; 
 
   transition: transform 0.3s, box-shadow 0.3s; 
   padding: 20px; 
   border-radius: 10px; 
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
   background-color: wheat;
}

.grid-item a:hover {
   transform: translateY(-5px); 
   box-shadow:0 6px 12px rgba(0, 0, 0, 0.15); 
}

.grid-item p {
   font-size: 20px;
}

.swiper{
   margin-left: 0;
   margin-right: 0;
   max-width: 44vw;
   height: 100%;
   margin-bottom: 30px;
}

 .swiper-slide {
   line-height: 1.2;
   font-size: clamp(14px, 1.4vw , 26px);
   padding-inline: 70px;
   padding-bottom: 50px;
 }

 .swiper-slide h3 {
   text-align: center;
 }
 
 .swiper-slide img{
   width: 30%;
   object-fit: cover;
 }

 .swiper-pagination-bullet-active {
   background: white;
   opacity: 1;
 }

 .swiper-button-next, .swiper-rtl .swiper-button-prev {
    left: auto;
    color: white;
 }
 .swiper-button-prev, .swiper-rtl .swiper-button-next{
    right: auto;
    color: white;
 }

.footer-content {
   display: flex; 
   justify-content: center;
   align-items: center; 
   gap: 1.5rem; 
   background-color: rgba(0, 0, 0, 0.6);
   padding: 13px 0;
   
}

.footer-content p {
   margin: 0;
   display: flex;
   align-items: center;
   font-size: 23px;
   gap: 15px;
}

.social-icons {
   display: inline-flex; /* Горизонтальное расположение иконок */
   gap: 15px; /* Расстояние между иконками */
}
.social-icons a {
   color: #fff;
   text-decoration: none;
   font-size: 1.5rem;
   transition: color 0.3s ease;
}
.social-icons a:hover {
   color: #5d3eaa;
}

.social-icons a:active {
   color: #5d3eaa;
}

/* Modal window */
.modal-window {
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   max-width: 50%;
   max-height: 80%;
   background-color: #f3f3f3;
   padding: 3.5rem 3.5rem;
   box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
   z-index: 1000;
   transition: all 0.5s;
   color: #313131;
 }
 
 .overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(4px);
   z-index: 100;
   transition: all 0.5s;
 }

 .modal__form h2 {
   margin-top: 25px;
   margin-bottom: 20px;
   text-align: center;
 }

 .modal__form h2 span {
   padding: 2px 8px;
 }
 
 .modal__form p {
   font-size: 20px;
   font-weight: 500;
   line-height: 1.8;
   color: black;
 }
 
 .btn--close-modal-window {
   font-family: inherit;
   color: inherit;
   position: absolute;
   top: 0.2rem;
   right: 1rem;
   font-size: 3rem;
   cursor: pointer;
   border: none;
   background: none;
 }

 .btn--close-modal-window:hover {
   background: none;
 }

 .btn {
   display: inline-block;
   background-color: var(--color-first);
   font-size: 1.5rem;
   font-family: inherit;
   font-weight: 500;
   border: none;
   padding: 0.6rem 1.8rem;
   border-radius: 10rem;
   cursor: pointer;
   transition: all 0.3s;
   margin-top: 30px;
 }
 
 .btn:hover {
   background-color: var(--color-first-darker);
 }
 
 .hidden {
   opacity: 0;
   transform: translateY(-10px);
   pointer-events: none;
}

 .blog-recipes h1 {
   text-align: center;
   padding-top: 30px;
 }

 .btn-op {
   display: inline-block;
   background-color: var(--color-first);
   font-size: 1.3rem;
   font-family: inherit;
   font-weight: 500;
   border: none;
   padding: 1rem 3.5rem;
   border-radius: 10rem;
   cursor: pointer;
   transition: all 0.3s;
 }

 .about {
   transition: transform 1s, opacity 1s;
}



 .section__title {
   max-width: 70%;
   margin: 50px auto 100px auto;
 }

 .section__description {
   
   font-size: 2rem;
   font-weight: 600;
   text-transform: uppercase;
   color: var(--color-first);
   margin-bottom: 1rem;
   text-align: center;
 }
 
 .section__header {
   font-size: 1.8rem;
   
   font-weight: 500;
   text-align: center;
 }

 .section-footer {
   max-width: 70%;
   margin: 0 auto 50px auto;
}

.section__title p {
   font-size: 1.5rem;
   font-weight: 500;
   margin-top: 30px;
}

.section__title li {
   font-size: 1.35rem;
   font-weight: 500;
}

.section-footer p {
   
   font-size: 1.5rem;
   font-weight: 500;
}

.section-footer strong {
   cursor: pointer;
   color: var(--color-first);
}

 .operations {
   max-width: 80%;
   margin: 50px auto 50px auto;
   border: 1px solid ;
 }
 
 .operations__tab-container {
   display: flex;
   justify-content: center;
 }
 
 .operations__tab {
   margin-right: 2.5rem;
   transform: translateY(-50%);
 }
 
 .operations__tab span {
   margin-right: 1rem;
   font-weight: 600;
   display: inline-block;
 }
 
 .operations__tab--1 {
   background-color: var(--color-second);
 }
 
 .operations__tab--1:hover {
   background-color: var(--color-second-darker);
 }
 
 .operations__tab--3 {
   background-color: var(--color-third);
   margin: 0;
 }
 
 .operations__tab--3:hover {
   background-color: var(--color-third-darker);
 }
 
 .operations__tab--active {
   transform: translateY(-66%);
 }
 
 .operations__content {
   display: none;
   
   font-size: 1.7rem;
   padding: 20px 50px 50px 50px
 }
 
 .operations__content--active {
   display: flex;
   flex-direction: column;
   gap: 15px;
}
 
.operations__header {
   font-size: 1.4rem;
   font-weight: 300;
 
}
 
.operations__content p {
   font-size: 24px;
   margin-bottom: 0;
  
}

.operations__content ul {
   margin-top: 10px;
   margin-bottom: 15px;
}

.operations__content li {
   font-size: 25px;
}

.page-about {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.contact-form {
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 500px;
   align-items: center;
   padding: 20px;
   margin-bottom: 30px;
   border: var(--border);
}

.contact-form input {
   width: 350px;
}
 


@media (max-width: 1024px) {
  
   .header {
         flex-wrap: wrap;
         row-gap: 25px;
         padding-top: 10px;
         padding-inline: 15px;
      }
   
   .header-logo {
         width: 220px;
      }

   .header-menu-list {
      font-size: 15px;
   }   

   .button {
      height: 28px;
      padding-inline: 12px;
   }

   .main-description {
      max-width: 90%;
   }

   .first-screen-title {
      font-size: 3vw;
   }

   .first-screen-info {
      max-width: 60vw;
   }

   .brewing-beer-image {
      max-width: 45vw;
   }

   .imag-text-content {
      padding-inline: 40px;
   }

   .swiper {
      max-width: 50vw;
   }

   .subtitle p {
      font-size: 1.65vw;
   }

   .main-description-carousel h2, h3 {
      font-size: 1.6vw;
   }

   .main-description-carousel {
      padding-left: 50px;
      padding-top: 30px;
   }
}

@media (max-width: 840px) {

   .header-menu-list {
      font-size: 12px;
   }

   .brewing-beer-image {
      margin-block: 0;
   }
   
   .image-text-content {
      font-size: 2.4vw;
      padding-inline: 30px;
      margin-bottom: 50px;
  }

  .main-description {
   margin-bottom: 50px;
}

  .main-description-carousel {
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-left: 0;
   max-width: 100%;
   gap: 0;
}

.subtitle {
   margin-bottom: 30px;
}

.subtitle p {
   font-size: 2.8vw;
   line-height: 1.35;
}

.main-description-carousel h2 {
   font-size: 2.8vw;
}

.main-description-carousel h3 {
   font-size: 2.4vw;
}

.swiper {
   max-width: 80%;
}

.swiper-slide {
   font-size: 20px;
   line-height: 1.35;
}
}



@media (max-width: 770px) {
  
   .header-menu-link {
      height: 32px;
   }
   
   .header-actions {
      column-gap: 15px;
   }

   .button {
      height: 27px;
   }

 }

@media (max-width: 760px) {
.header-menu {
   order: 1;
   flex-basis: 100%;
}
}

@media (max-width: 440px) {

   .first-screen-title {
      font-size: 14px;
  }

   .first-screen-info {
      top: 15%;
   }

   .first-screen-beer-image {
      bottom: 50px;
      width: 80vw;
   }

   .brewing-beer-image {
      margin-block: 0;
   }

   .article {
      padding: 20px;
   }

 

   .main-description {
      flex-direction: column-reverse;
      margin-bottom: 25px;
      font-size: 2.15vw;
   }

   .main-description p {
      font-size: 3.5vw;
      margin-bottom: 0;
   }

   .main-description {
      padding-inline: 20px;
  }

   .brewing-beer-image {
      max-width: 100%;
      height: auto;
   }

   .main-description-carousel {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 100%;
   }

   .subtitle {
      margin-bottom: 20px;
      max-width: 65vw;
   }

   .subtitle p {
      font-size: 3vw;
   }

   .main-description-carousel h2 {
      font-size: 3vw;
   }

   .main-description-carousel h3 {
      font-size: 2.8vw;
   }

   .swiper {
      max-width: 95vw;

   }

   .swiper-slide {
      font-size: 16px;
      padding-inline: 55px;
   }

   .button.transparent {
      height: 30px;
      padding-left: 10px;
      padding-right: 35px;
   }

   .social-icons {
      gap: 12px;
   }

   .footer-content p {
      gap: 12px;
   }
}

@media (max-width: 395px) {
   
   .main-description p {
      font-size: 3.8vw;
   }   

   .footer-content p {
      font-size: 22px;
   }

   .subtitle p {
      font-size: 3.5vw;
   }

   .swiper-slide {
      padding-bottom: 40px;
   }

}

@media (max-width: 370px) {
   
   .header-logo {
      width: 200px;
   }

   .first-screen-beer-image {
      bottom: 45px;
      width: 60vw;
   }

   .first-screen-title {
      font-size: 13px;
  }

}


 

   

  



   









