@font-face {
   font-family: 'Heebo';
   src: url('./fonts/Heebo-Light.woff2') format('woff2');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Heebo';
   src: url('./fonts/Heebo-Bold.woff2') format('woff2');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}


html {
   scroll-behavior: smooth;
}


:root {
   --color-dark: #000000;
   --color-light: #FFFFFF;
   --color-dark-alternate: #131619;
   --color-dark-gray: #404040;
   --color-light-gray: #C4C4C4;

   --border-radius: 30px;
   --border: 1px solid #FFFFFF;

   --font-family-base: 'Heebo', sans-serif; 
   --font-family-accent: 'Yantramanav', sans-serif; 
   --font-family-logo: 'Algerian', sans-serif;

   --input-height: 54px;

   --container-width: 1200px;
   --container-padding-x: 30px;

   --transition-duration: 0.2s;

   --header-height: 85px;
}

* {
   max-width: 100%;
}

body {
   font-family: 'Poppins', sans-serif;
   font-weight: 300;
   font-size: 16px;
   line-height: 1.4;
   color: var(--color-light);
   background: linear-gradient(to right, #FEC38E, #9A2F00);
}

a,
button,
input,
textarea,
svg * {
   transition-duration: var(--transition-duration);
}

a {
   color: var(--color-light);
   text-decoration: none;
}

a:hover {
   color: var(--color-light-gray);
}

.visually-hidden {
   position: absolute !important;
   width: 1px !important;
   height: 1px !important;
   margin: -1px !important;
   border: 0 !important;
   padding: 0 !important;
   white-space: nowrap !important;
   clip-path: inset(100%) !important;
   clip: rect(0 0 0 0) !important;
   overflow: hidden !important;
 }

 h1, h2, h3, h4, h5, h6 {
   font-weight: 700;
   text-transform: uppercase;
}

ul {
   margin-bottom: 0;
}

.container {
   max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
   margin-inline: auto;
   padding-inline: var(--container-padding-x);
}

.button {
   display: inline-flex;
   align-items: center;
   height: 38px;
   padding-inline: 15px;
   font-size: clamp(10px, 1vw, 15px);
   font-weight: 700;
   line-height: 2;
   letter-spacing: 1.1px;
   text-transform: uppercase;
   white-space: nowrap;
   background-color: var(--color-light);
   border: none;
   border-radius: var(--border-radius);
}

button:hover {
   background-color: var(--color-light-gray);
}

.button.transparent {
   position: relative;
   height: var(--input-height);
   padding-left: 30px;
   padding-right: 80px;
   background-color: transparent;
   border: var(--border);
}

.button.transparent::after{
   content: '';
   position: absolute;
   right: 0;
   height: 100%;
   aspect-ratio: 1;
   background: url('./icons/arrow-top-rite.svg') center/70% no-repeat;
   border: var(--border);
   border-radius: 50%;
   scale: 1 -1;
}



.button.transparent:hover {
   color: var(--color-dark);
   background-color: var(--color-light-gray);
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: 20px;
   min-height: var(--header-height);
   padding-inline: 32px;
   background-color: rgba(0, 0, 0, 0.5);
   
}



.header-menu-list {
   display: flex;
   flex-wrap: wrap;
   column-gap: clamp(20px, 2.6vw, 50px);
   font-size: clamp(10px, 1.1vw, 35px);
}

.header-menu-link {
   display: inline-flex;
   align-items: center;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: 1.2px;
   gap: 7px;
   height: var(--header-height)
}

.header-menu-link.is-current::after {
   content: "";
   width: 7px;
   aspect-ratio: 1;
   background-color: currentColor;
   border-radius: 50%;
}

.header-actions {
   display: flex;
   column-gap: 30px;
}

.first-screen {
   position: relative;
   width: 100%;
   height: calc(100vh - var(--header-height));
   
}

.first-screen-info {
   position: absolute;
   height: auto;
   top: 30%;
   left: 10%;
}

.first-screen-title {
   font-size: 2vw;
   margin-bottom: 40px;
}

.first-screen-beer-image {
   position: absolute;
   max-width: 600px;
   width: 40vw;
   height: auto;
   bottom: 0;
   right: 0;
}



.main-description {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 40px;
   margin-bottom: 100px;
   font-size: 1.7vw;
   line-height: 1.2;
   max-width: 80%;
   margin-inline: auto;
}

.brewing-beer-image {
   width: 100%;
   max-width: 40vw;
   height: auto;
   margin-block: -50px;
   
}

.main-description-carousel {
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(to left, #FEC38E, #9A2F00);
   padding-left: 20px;
   padding-top: 50px;
   gap: 60px;
}

.main-description-carousel h2 {
   font-size: 1.5vw;
}

.main-description-carousel h3 {
   font-size: 1.3vw;
}

.subtitle {
   max-width: 42vw;
   font-size: 1.3vw;
}

.article {
   background: white;
   padding: 50px;
   color: #000000;
   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.highlight {
   background-color: #dff0d8;
   padding: 7px 10px;
   border-left: 5px solid #3c763d;
   margin-bottom: 20px;
}

.swiper{
   margin-left: 0;
   margin-right: 0;
   max-width: 44vw;
   height: 100%;
   margin-bottom: 30px;
 }

 .swiper-slide {
   line-height: 1.2;
   font-size: clamp(14px, 1.33vw , 26px);
   padding-inline: 70px;
   padding-bottom: 50px;
 }

 .swiper-slide h3 {
   text-align: center;
 }
 
 .swiper-slide img{
   width: 30%;
   object-fit: cover;
 }

 .swiper-pagination-bullet-active {
   background: white;
   opacity: 1;
 }

 .swiper-button-next, .swiper-rtl .swiper-button-prev {
    left: auto;
    color: white;
 }
 .swiper-button-prev, .swiper-rtl .swiper-button-next{
    right: auto;
    color: white;
 }


footer {
   text-align: center;
   background-color: rgba(0, 0, 0, 0.6);
   position: relative;
   bottom: 0;
   width: 100%;
   padding: 13px 0;
}

.footer-content {
   display: inline-flex; /* Горизонтальное выравнивание текста и иконок */
   align-items: center; /* Вертикальное выравнивание */
   gap: 1.5rem; /* Расстояние между текстом и иконками */
   justify-content: center;
   
}

.footer-content p {
   margin: 0;
   display: flex;
   align-items: center;
   font-size: 23px;
   gap: 15px;
}

.social-icons {
   display: inline-flex; /* Горизонтальное расположение иконок */
   gap: 15px; /* Расстояние между иконками */
}
.social-icons a {
   color: #fff;
   text-decoration: none;
   font-size: 1.5rem;
   transition: color 0.3s ease;
}
.social-icons a:hover {
   color: #5d3eaa;
}

.social-icons a:active {
   color: #5d3eaa;
}

@media (max-width: 1024px) {
  
   .header {
         flex-wrap: wrap;
         row-gap: 25px;
         padding-top: 10px;
         padding-inline: 15px;
      }
   
   .header-logo {
         width: 220px;
      }

   .header-menu-list {
      font-size: 15px;
   }   

   .button {
      height: 28px;
      padding-inline: 12px;
   }

    .main-description {
      max-width: 90%;
   }

   .first-screen-title {
      font-size: 3vw;
   }

   .first-screen-info {
      max-width: 60vw;
   }

   .brewing-beer-image {
      max-width: 45vw;
   }

   .imag-text-content {
      padding-inline: 40px;
   }

   .swiper {
      max-width: 50vw;
   }

   .subtitle p {
      font-size: 1.65vw;
   }

   .main-description-carousel h2, h3 {
      font-size: 1.6vw;
   }

   .main-description-carousel {
      padding-left: 50px;
      padding-top: 30px;
   }
}

@media (max-width: 840px) {

   .header-menu-list {
      font-size: 12px;
   }

   .brewing-beer-image {
      margin-block: 0;
   }
   
   .image-text-content {
      font-size: 2.4vw;
      padding-inline: 30px;
      margin-bottom: 50px;
  }

  .main-description-carousel {
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-left: 0;
   max-width: 100%;
   gap: 0;
}

.subtitle {
   margin-bottom: 30px;
}

.subtitle p {
   font-size: 2.8vw;
   line-height: 1.35;
}

.main-description-carousel h2 {
   font-size: 2.8vw;
}

.main-description-carousel h3 {
   font-size: 2.4vw;
}

.swiper {
   max-width: 80%;
}

.swiper-slide {
   font-size: 20px;
   line-height: 1.35;
}
}



@media (max-width: 770px) {
  
   .header-menu-link {
      height: 32px;
   }
   
   .header-actions {
      column-gap: 15px;
   }

   .button {
      height: 27px;
   }

 }

@media (max-width: 760px) {
.header-menu {
   order: 1;
   flex-basis: 100%;
}
}

@media (max-width: 440px) {

   .first-screen-title {
      font-size: 14px;
  }

   .first-screen-info {
      top: 15%;
   }

   .first-screen-beer-image {
      bottom: 50px;
      width: 80vw;
   }

   .brewing-beer-image {
      margin-block: 0;
   }

   .article {
      padding: 20px;
   }

   .main-description {
      flex-direction: column-reverse;
      margin-bottom: 25px;
      font-size: 2.15vw;
   }

   .main-description p {
      font-size: 3.5vw;
      margin-bottom: 0;
   }

   .main-description {
      padding-inline: 20px;
  }

   .brewing-beer-image {
      max-width: 100%;
      height: auto;
   }

   .main-description-carousel {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 100%;
   }

   .subtitle {
      margin-bottom: 20px;
      max-width: 65vw;
   }

   .subtitle p {
      font-size: 3vw;
   }

   .main-description-carousel h2 {
      font-size: 3vw;
   }

   .main-description-carousel h3 {
      font-size: 2.8vw;
   }

   .swiper {
      max-width: 95vw;

   }

   .swiper-slide {
      font-size: 16px;
      padding-inline: 55px;
   }

   .button.transparent {
      height: 30px;
      padding-left: 10px;
      padding-right: 35px;
   }

   .social-icons {
      gap: 12px;
   }

   .footer-content p {
      gap: 12px;
   }
}

@media (max-width: 395px) {
   
   .main-description p {
      font-size: 3.8vw;
   }   

   .footer-content p {
      font-size: 22px;
   }

   .subtitle p {
      font-size: 3.5vw;
   }

   .swiper-slide {
      padding-bottom: 40px;
   }

}

@media (max-width: 370px) {
   
   .header-logo {
      width: 200px;
   }

   .first-screen-beer-image {
      bottom: 45px;
      width: 60vw;
   }

   .first-screen-title {
      font-size: 13px;
  }

}


 

   

  



   









